<% provide(:title, @user.name) %>

<div class="row">
	<aside class="span4">
		<section>
			<h1>
				<%= gravatar_for @user %>
				<%= @user.name %>
			</h1>
		</section>
	</aside>
	<div class="span8">
<% if @user.complications.any? %>
<h3>Complications (<%= @user.complications.count %>)</h3>
<ol class="complications">
<%= render @complications %>
</ol>
<%= will_paginate @complications %>
<% end %>
</div>
</div>

</div>

